<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VocabulairesItaliens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EC21ADA1C99F76D00530259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC21AEE1C99F76E00530259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EC21AF91C99F76E00530259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
